<h1><%= @discount.name %></h1>

<h2>Get <%= @discount.percent %>% off when you buy <%= @discount.threshold %> or more.</h2>

<%= link_to "edit discount", "/merchants/#{@merchant.id}/discounts/#{@discount.id}/edit" %>
